body {    
    background-image: url("../img/drini.jpg");
    display: flex;
}

.container {
    width: 100%;
    min-height: 200px;
    border: 1px solid rgb(211, 205, 205);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.container #container-drini-footer h3 {
  height: 50px;
  text-align: center;
  font-size: 30px;
}

.container #container-drini-footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(211, 205, 205);
  margin-left: 50px;
  margin-right: 50px;
}

.container-drini-footer {
    text-align: center;
}

#drini {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #drini tr:nth-child(even){background-color: #82faac;}
  
  #drini tr:hover {background-color: #ddd;}
  
  #drini th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .container .header-drini-park {
    width: 100%;
    padding: 30px 0 10px 0;
    display: flex;
    flex-direction: row-reverse;
  }

  .container .header-drini-park .drini-button a i {
    text-decoration: none;
    color:rgb(255,255,255) ;
    background-color: rgb(116, 181, 12);
    width: 100px;
    padding: 5px 10px;
    margin:10px;
  }

  